<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>体育馆首页</title>
    <link rel="stylesheet" href="/resources/js/layuimini/lib/layui-v2.6.3/css/layui.css">
    <script type="text/javascript" src="/resources/js/layuimini/lib/layui-v2.6.3/layui.js"></script>
    <script type="text/javascript" src="/resources/js/main.js"></script>
</head>
<body>
    <div class="layui-layout-admin">
        <div class="layui-header">
            <!--平台名称-->
            <div class="layui-logo">体育馆</div>
            <!--左侧主菜单-->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="#">日志设置</a></li>
                <li class="layui-nav-item"><a href="#">系统设置</a></li>
                <li class="layui-nav-item"><a href="#">统计</a></li>
                <li class="layui-nav-item"><a href="#">帮助</a></li>
            </ul>
            <!--右侧主菜单-->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="" style="width: 40px;height: 40px">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="#">修改头像</a></dd>
                        <dd><a href="#">修改密码</a></dd>
                        <dd><a href="#">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <ul class="layui-nav layui-nav-tree" lay-filter="menu">
                <li class="layui-nav-item"><a href="#" id="1" url="/views/site/siteInfo.html"><i class="layui-icon layui-icon-user"></i>场地信息</a></li>
                <li class="layui-nav-item"><a href="#" id="2" url="/views/kit/kitInfo.html"><i class="layui-icon layui-icon-user"></i>器材信息</a></li>
                <li class="layui-nav-item"><a href="#" id="3" url="/views/"><i class="layui-icon layui-icon-user"></i>我的场地</a></li>
                <li class="layui-nav-item"><a href="#" id="4" url="/views/"><i class="layui-icon layui-icon-user"></i>我的器材</a></li>
            </ul>
        </div>
        <div class="layui-body">
            <div class="layui-tab" lay-allowClose="true" lay-filter="zst">
                <ul class="layui-tab-title">
                    <li class="layui-this">首页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">欢迎进入xx体育馆!</div>
                </div>
            </div>
        </div>
        <div class="layui-footer">
            <center>
              欢迎光临进入xx体育馆
            </center>
        </div>
    </div>
</body>
</html>